# Python
__pycache__/
.venv/
dist/
build/

# Node
node_modules/
package-lock.json

# Environment variables
.env*

# Data and Logs
logs/
data/
*.log

# Browser extensions (user-installed)
backend/browser_extensions/

# Services specific
services/cli_proxy

# IDE / OS specific
.vscode/

# AI coder
.claude/
CLAUDE.md

# Notes/Guides
*_guide.md
notes.md
*_doc.md
/course
# *.md